body{
    margin: 0%;
    padding: 0%;
}
.Cabecalho{
    padding-bottom: 10px;
    height: 0px;
    background-color: #1b1a1ad9;
}
.Cabecalho2{
    text-align: center;
    padding-top: 15px;
    height: 30px;
    background-color:rgba(30, 30, 30, 0.758);
    border-bottom: 5px solid rgba(253, 167, 7, 0.925);
}
.doisbut{
    position:relative; left: 250px; bottom:50px;
    text-align: left;
}
.Menu{
    box-sizing: border-box;
    padding-right: 50px;
    color: white;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
,Menu:hover{
    color: white;
}
.Menu:visited{
    color: white;
}
.Buscar{
    box-sizing: border-box;
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.Buscar:hover{
    color: white;
}
.Buscar:visited{
    color: white;
}
.Noticias{
    padding-right: 30px;
    font-size: large;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.Review{
    color: white;
    padding-right: 30px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.Outros{
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.Logo{
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(65, 65, 65);
    padding-top: 10px;
}